[submodule "Milestone0/libft"]
	path = Milestone0/libft
	url = git@github.com:Univers42/libft.git
[submodule "Milestone1/GetNextLine"]
	path = Milestone1/GetNextLine
	url = git@github.com:Univers42/GetNextLine.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Univers42/ft_printf.git
[submodule "Milestone1/ft_printf"]
	path = Milestone1/ft_printf
	url = git@github.com:Univers42/ft_printf.git
[submodule "Milestone3/MiniShell"]
	path = Milestone3/MiniShell
	url = git@github.com:Univers42/MiniShell.git
[submodule "DSA/dsa"]
	path = DSA/dsa
	url = git@github.com:Univers42/DSA.git
[submodule "Testor/testor"]
	path = Testor/testor
	url = git@github.com:Univers42/Testor.git
