[submodule "Milestone0/libft"]
	path = Milestone0/libft
	url = git@github.com:Univers42/libft.git
[submodule "Milestone1/GetNextLine"]
	path = Milestone1/GetNextLine
	url = git@github.com:Univers42/GetNextLine.git
[submodule "Milestone3/MiniShell"]
	path = Milestone3/MiniShell
	url = git@github.com:Univers42/MiniShell.git
[submodule "Testor/gnl_tester"]
	path = Testor/gnl_tester
	url = git@github.com:Univers42/gnlTester.git
[submodule "Testor/testor"]
	path = Testor/testor
	url = git@github.com:Univers42/Testor.git
[submodule "Testor/ft_printf_testor"]
	path = Testor/ft_printf_testor
	url = git@github.com:Univers42/ft_printf_tester.git
[submodule "Milestone1/ft_printf"]
	path = Milestone1/ft_printf
	url = git@github.com:Univers42/ft_printf_42.git
[submodule "Milestone1/printf"]
	path = Milestone1/printf
	url = git@github.com:Univers42/ft_printf_42.git
[submodule "GetNextLine"]
	path = GetNextLine
	url = git@github.com:Univers42/GetNextLine.git
[submodule "Milestone1/get_next_line"]
	path = Milestone1/get_next_line
	url = git@github.com:Univers42/GetNextLine.git
[submodule "Testor/TDD"]
	path = Testor/TDD
	url = git@github.com:Univers42/TDD.git
[submodule "Testor/Test_driven_development"]
	path = Testor/Test_driven_development
	url = git@github.com:Univers42/TDD.git
[submodule "Milestone2/thread-of-steel"]
	path = Milestone2/thread-of-steel
	url = git@github.com:Univers42/thread-of-steel.git
[submodule "Milestone2/push_swap"]
	path = Milestone2/push_swap
	url = git@github.com:Univers42/push_swap.git
[submodule "Milestone1/born2beroot"]
	path = Milestone1/born2beroot
	url = git@github.com:LESdylan/setup_arch_linux.git
[submodule "Milestone2/push-swap"]
	path = Milestone2/push-swap
	url = git@github.com:Univers42/push-swap.git
[submodule "obsidian_doc_project"]
	path = obsidian_doc_project
	url = git@github.com:LESdylan/mental-mosaic.git
[submodule "evals42"]
	path = evals42
	url = https://github.com/Univers42/evals42.git
